.img{
    background-image: url('https://img.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_23-2148854064.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}